.ticket-button {
    --ticket-button-padding: 0.5rem;

    padding-block: var(--ticket-button-padding);
    padding-inline: calc(2 * var(--ticket-button-padding));
    font-weight: 700;
    font-size: var(--fs-h4);
    border-radius: 16px;
    color: var(--white);
    background-color: var(--fourth);
    border: 2px solid var(--fourth);
    box-shadow: 0 0 2px 1px var(--fourth);
}

.ticket-button:hover {
    filter: saturate(1.3);
}