:root {
  --white: #ffffff;
  --black: #171717;
  --primary: #ed8c51;
  --secondary: #1fa6a8;
  --third: #ffde59;
  --fourth: #ac2299;

  --fs-h1: 2.4rem;
  --fs-h2: 2.1rem;
  --fs-h3: 1.35rem;
  --fs-h4: 1.15rem;
  --fs-body: 1.0rem;
}

@media (width > 500px) {
  :root {
      --fs-h1: 3rem;
      --fs-h2: 2.5rem;
      --fs-h3: 1.5rem;
      --fs-h4: 1.2rem;
      --fs-body: 1.0rem;
  }
}

@media (width > 880px) {
  :root {
      --fs-h1: 4.5rem;
      --fs-h2: 3.1rem;
      --fs-h3: 1.75rem;
      --fs-h4: 1.4rem;
      --fs-body: 1.0rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #0a0a0a;
    --black: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--black);
  background: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: var(--fs-h1);
  font-family: var(--ff-lobster);
}
h2 {
  font-size: var(--fs-h2);
  font-family: var(--ff-lobster-two);
}
h3 {
  font-size: var(--fs-h3);
}
h4 {
  font-size: var(--fs-h4);
}
body {
  font-size: var(--fs-body);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
