.page-container {
  background-color: var(--primary);
}

main {
  background-color: var(--primary);
  color: var(--white); 
  width: 100%;
  padding-bottom: 0.5rem;
}

.image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.rotated {
  transform: rotate(-22deg);
}

.hero-image {
  margin-inline: 1rem;
  max-width: 300px;
  max-height: 260px;
}

.display-none-520 {
  display: block;
}

@media (width < 520px) {
  .display-none-520 {
    display: none;
  }
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-wrap: balance;
  gap: 1rem;
  text-align: center;
  margin-inline: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

@media (width > 520px) {
  .hero-text {
    margin-top: 0rem;
  }
}

main h2 {
  color: var(--third);
}

main h3 {
  font-family: var(--ff-luckiest-guy);
  letter-spacing: 3px;
}

.purple {
  color: var(--fourth);
}

section {
  padding-block: 2rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.gallery-section {
  background-color: var(--secondary);
  /* mask created using https://css-generators.com/wavy-shapes */
  --mask:
  radial-gradient(42.06px at 50% 57px,#000 99%,#0000 101%) calc(50% - 40px) 0/80px 100%,
  radial-gradient(42.06px at 50% -37px,#0000 99%,#000 101%) 50% 20px/80px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

section h2 {
  font-family: var(--ff-lobster-two);
  color: var(--white);
}

.video-section {
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 1rem;
}

video {
  aspect-ratio: 9/16;
  max-height: 80svh;
  max-width: 80vh;
  border-radius: 16px;
  box-shadow: 0px 2px 4px 1px var(--black);
}

.twitch-section {
  background-color: var(--secondary);
  padding-inline: 2rem;
  padding-bottom: 4rem;
  /* mask created using https://css-generators.com/wavy-shapes */
  --mask:
  radial-gradient(42.06px at 50% calc(100% - 57px),#000 99%,#0000 101%) calc(50% - 40px) 0/80px 100%,
  radial-gradient(42.06px at 50% calc(100% + 37px),#0000 99%,#000 101%) 50% calc(100% - 20px)/80px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.donation-section {
  background-color: var(--primary);
}
