.h1 {
  font-family: var(--ff-lobster);
  display: none;
}

.main {
  background-color: var(--secondary);
  /* background-image: url('/hero.PNG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; */
  height: 100svh;
  height: 100vh;
  width: 100%;
}
