.carousel-container {
    --carousel-padding-inline: 2rem;
    --carousel-item-width: calc(100% - var(--carousel-padding-inline));

    width: var(--carousel-item-width);
    padding-inline: var(--carousel-padding-inline);
    overflow: hidden;
}

@media (width > 520px) {
    .carousel-container {
        --carousel-padding-inline: 3rem;
    }
}

@media (width > 880px) {
    .carousel-container {
        --carousel-padding-inline: 6rem;
    }
}

@media (width > 1280px) {
    .carousel-container {
        --carousel-padding-inline: 10rem;
    }
}

.carousel-mover {
    display: flex;
    flex-direction: row;
    animation: carousel 50s linear infinite;
}

.carousel-mover > * {
    flex-basis: var(--carousel-item-width);
    aspect-ratio: 16/9;
    flex-grow: 0;
    flex-shrink: 0;
}

.carousel-mover > *:nth-child(odd) {
    background-color: blueviolet;
}

.carousel-mover > *:nth-child(even) {
    background-color: greenyellow;
}

@keyframes carousel {
    0% {
        transform: translateX(0);
    }
      100% {
        transform: translateX(calc(var(--carousel-item-width) * -5));
    }
}